@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";

/* Ultilidades */
@import "./utilidades/componentes.css";

/* Home */
@import "./home/introducao.css";
